body{
 background-color: 	#E8E8E8;
}

p {
  font-family: sans-serif;
}
.Form-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 35%;
margin-right: 35%;
margin-Top: 8%;
padding: 4em;
border-radius: 12px;


background-color: white;

}
.content-center{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  font-size: large;
  color: #342929;
}
.content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  font-size: large;
  color: #342929;

}

.Form-Position{
position:relative;
 width: 30em;
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 1.1em;
}
.Card{
 margin-top: 30px;
 margin-left: 18%;
 margin-right: 18%;
}
.underline{
  text-decoration: none;
}
label{
  padding-top: 20px;
  margin-left: 5px;
}
#comments{
  background-color:"white";
  margin:"10px";
  border-radius:"20px";
}


