@import "./Variable.css";

.App {
  
}
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blueDark);
  border-radius: 6px;
  box-shadow: var(--white-shadow);
  position:relative;
  padding: 0;
  width: 100%;
  margin-top: 5px;
  border-radius: 7px
}
.card-action {
  background-color: var(--blueDark);
  border-radius: 5px;
  box-shadow: var(--white-shadow);
  pointer-events: auto;
  border: 1px solid rgb(255, 255, 255);
}
.Edit-content {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  background-color: var(--blueDark);
  margin-top: 5px;
}
.content-center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1px;
  margin-bottom: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(223, 207, 207);
  border-radius: 6px;
  width: fit-content;
  position: relative;
  left: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

